@font-face {
    font-family: 'PF-Medium-woff';
    src: url("fonts/PingFangSC-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'PF-Regular-woff';
    src: url("fonts/PingFangSC-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'PF-Semibold-woff';
    src: url("fonts/PingFangSC-Semibold.woff2") format("woff2");
}

@font-face {
    font-family: 'SF-Pro-Medium-woff';
    src: url("fonts/sf-pro-display_medium.woff2") format("woff2");
}

@font-face {
    font-family: 'SF-Pro-Regular-woff';
    src: url("fonts/sf-pro-display_regular.woff2") format("woff2");
}

@font-face {
    font-family: 'SF-Pro-Heavy-woff';
    src: url("fonts/sf-pro-display_heavy.woff2") format("woff2");
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ddd;
    border-radius: 8pt;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #888;
    border-radius: 8pt;
}

html {
    scroll-behavior: smooth;
}

body {
    /* margin-top: 20px; */
    letter-spacing: .03em;
    font-family: 'PF-Regular-woff', 'SF-Pro-Regular-woff', 'PF-Rd';
    font-size: 16px;
    text-align: center;
}

.time .NowTime {
    font-family: 'SF-Pro-Medium-woff', 'PF-Medium-woff';
    height: 40px;
    background: #eee;
    line-height: 40px;
    text-align: center;
}

marquee {
    position: sticky;
    top: 0px;
    height: 52px;
    line-height: 52px;
    font-family: 'PF-Medium-woff', 'SF-Pro-Medium-woff';
    font-size: 22px;
    color: crimson;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 16px #888888;
    z-index: 2;
}

.body {
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-family: 'PF-Semibold-woff', 'SF-Pro-Heavy-woff';
    font-weight: 400;
    text-align: left;
    margin: 20px 0 20px;
}

h2 a {
    /* font-weight: 700; */
    /* font-family: 'PF-Semibold-woff', 'SF-Pro-Medium-woff'; */
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
    /* 设置苹果 woff2 字体后的超链接优化 */
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.3s;
}

h2 a:hover {
    /* font-weight: 400; */
    color: #ddd;
    background-color: #555;
    transition: 0.3s;
}

.strlink {
    border-radius: 3px;
    /* font-weight: 700; */
    font-family: 'PF-Semibold-woff', 'SF-Pro-Medium-woff';
    color: #555;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
    /* 设置苹果 woff2 字体后的超链接优化 */
    padding-top: 6px;
    padding-bottom: 6px;
}

.strlink:hover {
    font-weight: 400;
    color: #ddd;
    background-color: #555;
    border-radius: 3px;
    transition: 0.3s;
}

.high {
    /* font-family: 'PF-Bd'; */
    /* font-weight: 700; */
    font-family: 'PF-Semibold-woff', 'SF-Pro-Heavy-woff';
    color: royalblue;
}

footer {
    color: #444;
    margin: 40px auto 20px;
    border-top: 1px dashed #444;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: .05em;
}

.linehr {
    width: 98%;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
}