@font-face {
    font-family: 'PF-Medium-woff';
    src: url("../cdn/fonts/PingFangSC-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'PF-Regular-woff';
    src: url("../cdn/fonts/PingFangSC-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'PF-Semibold-woff';
    src: url("../cdn/fonts/PingFangSC-Semibold.woff2") format("woff2");
}

@font-face {
    font-family: 'SF-Pro-Medium-woff';
    src: url("../cdn/fonts/sf-pro-display_medium.woff2") format("woff2");
}

@font-face {
    font-family: 'SF-Pro-Regular-woff';
    src: url("../cdn/fonts/sf-pro-display_regular.woff2") format("woff2");
}

@font-face {
    font-family: 'SF-Pro-Heavy-woff';
    src: url("../cdn/fonts/sf-pro-display_heavy.woff2") format("woff2");
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ddd;
    border-radius: 8pt;
}

 ::-webkit-scrollbar-thumb:vertical {
    background-color: #888;
    border-radius: 8pt;
}

body {
    font-family: 'PF-Regular-woff', 'SF-Pro-Regular-woff', 'PF-Rd';
    letter-spacing: .03em;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.time {
    margin-bottom: 10px;
}

.time .NowTime {
    font-family: 'SF-Pro-Medium-woff', 'PF-Medium-woff';
    height: 40px;
    background: #ddd;
    line-height: 40px;
    text-align: center;
}

.head {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.95);
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5vw;
    font-size: 1.25rem;
    margin: 0 auto;
}

.tabbar {
    justify-content: center;
    display: flex;
}

a {
    border-radius: 3px;
}

a:hover {
    font-weight: 400;
    color: #ddd;
    background-color: #555;
    transition: 0.3s;
}

a.tab {
    margin: 0 0.3rem;
    padding: 0.3rem 0.5rem 0.3rem;
    text-decoration: none;
    color: #999;
    border-bottom: 0.15rem solid rgba(255, 255, 255, 0);
}

a.tab.active {
    background-color: #eee;
    color: #444;
    border-bottom: 0.15rem solid #0e41b1;
}

a.tab:hover {
    color: #444;
    background: #eee;
}

.TabTableBody {
    margin: auto;
}

.week {
    padding: 1rem;
    margin: 0;
}

.day {
    display: none;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.dayleft {
    width: 3rem;
    margin-right: 1rem;
}

.dayright {
    width: 100%;
}

.info {
    font-size: 1rem;
    padding: .5rem;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: .3rem;
    margin-bottom: .5rem;
    min-height: 1rem;
    /*display:none*/
}

.maininfo {
    font-family: 'PF-Semibold-woff', 'SF-Pro-Heavy-woff', 'PF-Rd';
    font-size: 18px;
}

.intext {
    padding-left: 2rem;
    font-size: 95%;
}

.footer {
    font-size: 0.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    border-radius: 3px;
    font-family: 'PF-Semibold-woff', 'SF-Pro-Medium-woff';
    color: #555;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

ul {
    margin: 0.25rem 0 0 0;
    padding: 0;
    border-top: 1px solid #ddd;
}

.high {
    font-family: 'PF-Semibold-woff', 'SF-Pro-Heavy-woff';
    color: royalblue;
}

.info.a {
    background-color: rgb(240, 82, 97);
}

.info.b {
    background-color: rgb(72, 168, 228);
}

.info.c {
    background-color: rgb(82, 219, 154);
}

.info.d {
    background-color: rgb(199, 139, 0);
}

.info.e {
    background-color: rgb(0, 150, 136);
}

.info.f {
    background-color: rgb(63, 81, 181);
}

.info.g {
    background-color: rgb(121, 86, 73);
}

.info.h {
    background-color: rgb(96, 125, 139);
}

.info.i {
    background-color: rgb(103, 58, 183);
}

.info.j {
    background-color: rgb(180, 149, 225);
}